<style>
  label {
    display: block;
  }
</style>

<%= bootstrap_form_for @opinion do |f| %>
    <div class="row">
      <div class="col-md-6">
          <%= f.text_field :name, required: true, label: "Nombre y Apellido Completo:" %> <br>
          <%= f.text_field :position, required: true, label: "Cargo:" %> <br>
          <%= f.text_area :opinion, required: true, label: "Opinión:" %> <br>
          <label for="radio">Visible:</label>
          <%= f.radio_button :visible, true, label: "Sí", required: true %>
          <%= f.radio_button :visible, false, label: "No", required: true %>
          <br>
          <%= f.submit form_submit, class: 'btn btn-submit' %>
      </div>
    </div>
<% end %>

<hr>

<%= link_to ' Atrás'.html_safe, :back , class: 'fa fa-arrow-left btn-edit' %>
