
<!-- header -->
<div class="header header_thin" style="background-image:url(<%= asset_path('slider_1_2.jpg') %>)">
    <div data-mercury="full" id="content1" class="header_title">
        <%= @page.content1.html_safe %>
    </div>
</div>
<!--/ header -->

<!-- breadcrumbs -->
<div class="middle_row row_white breadcrumbs">
  <div class="container">
    <p><a href="/">Inicio</a>  <span class="separator">&rsaquo;</span>  <a href="#"></a> <span class="current">Mantenimiento</span></p>
    <%= link_to "<i class='fa fa-user'></i> Contáctenos".html_safe, pages_contact_path, class: "link_search" %>
  </div>
</div>
<!--/ breadcrumbs -->

<!-- middle -->
<div id="middle" class="full_width">
    <div class="container clearfix">
        <!-- content -->
        <div class="content">
            <article class="post-detail">
                <div data-mercury="full" id="content2" class="post-title">
                    <%= @page.content2.html_safe %>
                </div>
                <div class="entry">
                    <img class="frame_center" id="page_image1" data-mercury="image"  src="<%= render inline: Page.find(5).image1 %>">
                    <blockquote>
                        <div class="inner">
                            <p data-mercury="full" id="content3">
                                <%= @page.content3.html_safe %>
                            </p>
                        </div>
                    </blockquote>
                    <p data-mercury="full" id="content4">
                        <%= @page.content4.html_safe %>
                    </p>
                </div>
            </article>
        </div>
        <!--/ content -->
    </div>
</div>
