<!-- header -->
<div class="header header_thin" style="background-image:url(<%= asset_path('slider_1_1.jpg') %>)">            
	<div class="header_title">
    	<strong>Bienvenido <span>a nuestro blog</span> Blintech</strong>
    </div>
</div>
<!--/ header -->

<!-- breadcrumbs -->
<div class="middle_row row_white breadcrumbs">
    <div class="container">
        <p><a href="index.php">Inicio</a>  <span class="separator">&rsaquo;</span>  <a href="blog.php">Blog</a>  <span class="separator">&rsaquo;</span> </p>
        <a href="contacto.php" class="link_search"><i class="fa fa-user"></i> Contáctenos</a>
    </div>
</div>
<!--/ breadcrumbs -->

<!-- middle -->   
<div id="middle" class="cols2">
    <div class="container clearfix">  
        <!-- content -->
        <div class="content">
            
            <!-- posts list -->
            <div class="postlist">
                
                <div class="post-item">
                    <div class="post-title">
                        <h2><a href="post_01.php">Luxury Compact SUVs: the new trend in 2013</a></h2>                                     
                    </div>
                    <div class="post-aside clearfix">
                        <div class="post-image"><a href="blog-details.html"><%= image_tag 'post_img_big_1.jpg' %></a></div>                                      
                        <div class="post-meta">
                            <div class="info_row"><span>Posted On:</span> 09. 25. 13</div>
                            <div class="info_row"><span>Written BY:</span> Max Biaggi</div>
                            <div class="info_row"><span>Comments:</span> <a href="blog-details.html#comments">24</a></div>
                            <a href="blog-details.html" class="link_more">READ MORE <span>&gt;</span></a>
                        </div>     
                        <div class="entry">
                            <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci... </p>
                        </div>    
                    </div>                
                </div>
                
                <div class="post-item">
                    <div class="post-title">
                        <h2><a href="blog-details.html">Ferrari has unveiled its £1m Enzo replacement at Geneva</a></h2>                                        
                    </div>   
                    <div class="post-aside clearfix">                 
                        <div class="post-image"><a href="blog-details.html"><%= image_tag 'post_img_big_2.jpg' %></a></div>                                      
                        <div class="post-meta">
                            <div class="info_row"><span>Posted On:</span> 10. 08. 13</div>
                            <div class="info_row"><span>Written BY:</span> Felipe Massa</div>
                            <div class="info_row"><span>Comments:</span> <a href="blog-details.html#comments">32</a></div>
                            <a href="blog-details.html" class="link_more">READ MORE <span>&gt;</span></a>
                        </div>     
                        <div class="entry">
                            <p>Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum... </p>
                        </div>
                    </div>
                </div>
                
                <div class="post-item">
                    <div class="post-title">
                        <h2><a href="blog-details.html">We’ve tested the 2013 Mercedes-Benz G63 AMG 6x6 Concept</a></h2>                                        
                    </div>   
                    <div class="post-aside clearfix">                 
                        <div class="post-image"><a href="blog-details.html"><%= image_tag 'post_img_big_3.jpg' %></a></div>                                      
                        <div class="post-meta">
                            <div class="info_row"><span>Posted On:</span> 10. 08. 13</div>
                            <div class="info_row"><span>Written BY:</span> Casey Stoner</div>
                            <div class="info_row"><span>Comments:</span> <a href="blog-details.html#comments">7</a></div>
                            <a href="blog-details.html" class="link_more">READ MORE <span>&gt;</span></a>
                        </div>     
                        <div class="entry">
                            <p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.</p>
                            <p> Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi...</p>
                        </div>
                    </div>
                </div>
                
               
                
                <div class="post-item">
                    <div class="post-title">
                        <h2><a href="blog-details.html">2013 Subaru BRZ Limited vs. Route Napoléon</a></h2>                                     
                    </div>   
                    <div class="post-aside clearfix">                 
                        <div class="post-image alignright"><a href="blog-details.html"><%= image_tag 'post_img_2.jpg' %></a></div>                                      
                        <div class="post-meta">
                            <div class="info_row"><span>Posted On:</span> 09. 03. 13</div>
                            <div class="info_row"><span>Written BY:</span> J.P. Montoya Stoner</div>
                            <div class="info_row"><span>Comments:</span> <a href="blog-details.html#comments">7</a></div>
                            <a href="blog-details.html" class="link_more">READ MORE <span>&gt;</span></a>
                        </div>     
                        <div class="entry">
                            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit...</p>
                        </div>
                    </div>
                </div>
                
                <div class="post-item">
                    <div class="post-title">
                        <h2><a href="blog-details.html">Tesla Model S Prestige</a></h2>                                     
                    </div>   
                    <div class="post-aside clearfix">                 
                        <div class="post-image "><a href="blog-details.html"><%= image_tag 'post_img_3.jpg' %></a></div>                                      
                        <div class="post-meta">
                            <div class="info_row"><span>Posted On:</span> 09. 03. 13</div>
                            <div class="info_row"><span>Written BY:</span> J.P. Montoya Stoner</div>
                            <div class="info_row"><span>Comments:</span> <a href="blog-details.html#comments">7</a></div>
                            <a href="blog-details.html" class="link_more">READ MORE <span>&gt;</span></a>
                        </div>     
                        <div class="entry">
                            <p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit...</p>
                      </div>
                    </div>
                </div>
                
            </div>
            <!--/ posts list -->
            
            <!-- pagination -->
            <div class="tf_pagination">
                <div class="inner">
                    <a class="page_prev" href="#"><span></span>PREV</a> 
                    <a class="page_next" href="#"><span></span>NEXT</a>
                
                    <span class="page-numbers page_current">1</span> <a href="#" class="page-numbers">2</a>  <a href="#" class="page-numbers">3</a> <a href="#" class="page-numbers">4</a> <a href="#" class="page-numbers">5</a> <a href="#" class="page-numbers">6</a> <a href="#" class="page-numbers">7</a> &hellip;  <a href="#" class="page-numbers">18</a>     
                      
                </div>
            </div>
            <!--/ pagination -->
            
        </div>
        <!--/ content -->
        
        <!-- sidebar -->
        <div class="sidebar">
            <div class="box">
            
                <!-- widget_categories -->
                <div class="widget-container widget_categories">
                    <h3 class="widget-title">Categorias de noticias:</h3>
                    <ul>
                        <li><a href="#"><span>About Our Services</span> <em>(32)</em></a></li> 
                        <li><a href="#"><span>Auto News</span> <em>(47)</em></a></li>
                        <li class="current-menu-item"><a href="#"><span>New Cars in Showroom</span> <em>(18)</em></a></li>
                        <li><a href="#"><span>Service Announcements</span> <em>(49)</em></a></li>
                        <li><a href="#"><span>Formula 1</span> <em>(23)</em></a></li>
                        <li><a href="#"><span>Motorbike Races</span> <em>(10)</em></a></li>
                        <li><a href="#"><span>Holiday Caravaning</span> <em>(33)</em></a></li>
                    </ul>
                </div>  
                <!--/ widget_categories -->
                
                <!-- widget_recent_comments -->                   
                <div class="widget-container widget_popular">
                    <h3 class="widget-title">Ultimas 5 noticias a la derecha</h3>
                    <ul>
                        <li><a href="#">Luxury Compact SUVs: the new</a></li> 
                        <li><a href="#">Ferrari has unveiled its £1m Enzo</a></li>
                        <li><a href="#">We’ve tested the 2013 Mercedes-Benz</a></li>
                        <li><a href="#">2013 Subaru BRZ Limited vs. Route</a></li>
                        <li><a href="#">Sed ut perspiciatis unde omnis iste natus error sit</a></li>
                        <li><a href="#">Totam rem aperiam eaque</a></li>
                    </ul>
                </div>
                <!--/ widget_recent_comments -->
            <div class="box_bot"></div>
            </div>
        </div>
        <!--/ sidebar -->  
              
    </div>
</div>