
<!-- header -->
<div class="header header_thin" style="background-image:url( <%= asset_path('slider_1_2.jpg') %> )">

  <div class="header_title">
    <h1><span>Alquiler</span> de vehículos blindados y convenconales</h1>
  </div>

</div>
<!--/ header -->

<!-- search -->

<!--/ search -->

<!-- middle -->
<div id="middle" class="cols2">
  <div class="container clearfix">

    <div class="title2">
      <h2>Vehículos con la más alta tecnología!</h2>
    </div>
    <!-- content -->
    <div class="content">

      <!-- sorting, pages -->
      <div class="list_manage">
        <div class="inner clearfix">
          <form action="#" method="post" class="form_sort">
            <span class="manage_title">organizar por:</span>
            <select class="select_styled white_select" name="sort_list" id="sort_list">
              <option value="1">último agregado</option>
              <option value="2" selected>Nivel de blindaje</option>

            </select>
          </form>

          <div class="pages_jump">
            <span class="manage_title">ir a la página:</span>
            <form action="#" method="post">
              <input type="text" name="jumptopage" value="15" class="inputSmall"><input type="submit" class="btn-arrow" value="Go">
            </form>
          </div>

          <div class="pages">
            <span class="manage_title">Página : &nbsp;<strong>1 de 25</strong></span> <a href="#" class="link_prev">Previous</a><a href="#" class="link_next">Next</a>
          </div>

        </div>
      </div>
      <!--/ sorting, pages -->

      <!-- offers list -->
      <div class="offer_list clearfix">

        <% @vehicles.each do |vehicle| %>
          <div class="offer_item clearfix">
            <div class="offer_image">
            <a href="<%= vehicle_path(vehicle) %>"><%= image_tag vehicle.vehicle_images.first.image.url(:rent) %></a></div>
            <div class="offer_aside">
              <h2><a href="<%= vehicle_path(vehicle) %>"><%= vehicle.name %></a></h2>
              <div class="offer_descr">
                <p><%= vehicle.description %></p>
              </div>
              <div class="offer_data">
                <div class="offer_price">Blindaje <%= vehicle.shielding %></div>
                <span class="offer_miliage"><%= vehicle.transmission.capitalize %></span>
                <span class="offer_regist"><%= vehicle.gas.capitalize %></span>
              </div>
            </div>
          </div>
        <% end %>

      </div>
      <!--/ offers list -->

      <!-- pagination -->
      <div class="tf_pagination">
        <div class="inner">
          <a class="page_prev" href="#"><span></span>PREV</a>
          <a class="page_next" href="#"><span></span>NEXT</a>

          <span class="page-numbers page_current">1</span> <a href="#" class="page-numbers">2</a>  <a href="#" class="page-numbers">3</a> <a href="#" class="page-numbers">4</a> <a href="#" class="page-numbers">5</a> <a href="#" class="page-numbers">6</a> <a href="#" class="page-numbers">7</a> &hellip;  <a href="#" class="page-numbers">18</a>

        </div>
      </div>
      <!--/ pagination -->

    </div>
    <!--/ content -->

    <!-- sidebar -->
    <div class="sidebar">
      <%= image_tag "banner-282×579.jpg", class: "frame_right" %>
      <div class="clear"></div>
      <div class="widget-container widget_popular">
        <h3 class="widget-title">Últimos Vehículos</h3>
        <ul>
          <% @last_vehicles.each do |vehicle| %>
            <li><a href="<%= vehicle_path(vehicle) %>"><%= vehicle.name %></a></li>
          <% end %>
        </ul>
      </div>

      <!--/ filter -->

      <div class="box_bot"></div>
    </div>
  </div>
  <!--/ sidebar -->

</div>
</div>
