<%= render 'shared/bootstrap_table' %>
<div style="height: 150px"></div>
<div class="container">
  <h1>Listando Imágenes</h1>
  <%= link_to ' Nueva Imagen', new_home_picture_path, class: 'fa fa-plus btn-edit' %>

  <table class="table" style="overflow: scroll;">
    <tr class="success">
      <th class="text-center lead lead-lg">Imagen</th>
      <th class="text-center lead lead-lg">Título</th>
      <th class="text-center lead lead-lg" colspan="2">Opciones</th>
    </tr>
    <tbody>
      <% @home_pictures.each do |picture| %>
      <tr class="text-center">
        <td class="lead lead-sm vert-align text-center"><%= image_tag picture.image.url(:home) %></td>
        <td class="lead lead-sm vert-align text-center"><%= picture.title %></td>
        <td><%= link_to "<span class='fa fa-pencil'></span>".html_safe, edit_home_picture_path(picture) %></td>
        <td><%= link_to "<span class='fa fa-trash'></span>".html_safe, home_picture_path(picture), method: :delete, data: { confirm: '¿Esta seguro que desea eliminar esta categoría? Recuerda que si lo haces cualquier noticia asociada a esta será eliminada' } %></td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="height: 150px"></div>
