<style>
  label {
    display: block;
  }
  select {
    height: 30px;
  }
</style>

<%= bootstrap_form_for @vehicle, :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="col-md-6">
          Puedes agregar hasta 20 imagenes por vehículos (sin embargo, no es obligatorio). En las vistas de vehículos se mostrará la primera foto que agregues.
          <div class="row" id="image-for-article">
            <% if current_page == "new" %>
              <%= f.fields_for :vehicle_images do |vehicle_image| %>
                <div class="form-group reg-email">
                  <div>
                    <%= vehicle_image.file_field :image, class: "input-file", label: "Imagen: " %>
                  </div>
                </div>
              <% end %>
            <% elsif current_page == "edit" %>
              <table class="table">
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                </tr>
                <tr>
              <% @vehicle.vehicle_images.each do |vehicle_image| %>
                <td><%= image_tag(vehicle_image.image.url(:thumb)) %></td>
              <% end %>
                </tr>
              </table>
              <%= f.fields_for :vehicle_images do |vehicle_image| %>
                <div class="form-group reg-email">
                  <div>
                    <%= vehicle_image.file_field :image, class: "input-file", label: "Imagen: " %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= f.text_field :name, required: true, label: "Nombre del vehículo:" %>
          <%= f.text_field :engine, label: "Motor:" %>

          <%= f.select :transmission, options_for_select(Vehicle.transmissions.keys), label: "Tipo de tansmisión:" %>
          <%= f.select :gas, options_for_select(Vehicle.gas.keys), label: "Tipo de combustible:" %>
          <%= f.select :shielding, options_for_select(Vehicle.shieldings.keys), label: "Categoría de blindaje:" %>
          <%= f.text_area :description, required: true, label: "Descripción General:" %>
          <%= f.text_area :description1, required: true, label: "Descripción Columna 1 - Para vista del vehiculo:" %>
          <%= f.text_area :description2, required: true, label: "Descripción Columna 2 - Para vista del vehiculo:" %>
          <%= f.text_area :internal_features, required: true, label: "Caracteristicas internas (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :external_features, required: true, label: "Caracteristicas externas (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :safety_features, required: true, label: "Caracteristicas de seguridad (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :extras, required: true, label: "Extras (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.submit form_submit, class: "btn btn-submit" %>
      </div>
    </div>
<% end %>
<hr>
<%= link_to ' Atrás'.html_safe, :back , class: 'fa fa-arrow-left btn-edit' %>

