<div class="footer">
  <div class="container clearfix">

    <div class="f_col f_col_1">
        <h3>Empresa</h3>
        <ul>
            <li><a href="<%= pages_company_path(id: 2) %>"><span><i class="fa fa-bullseye"></i> ¿Quiénes somos?</span></a></li>

        </ul>
    </div>
    <!--/ footer col 1 -->

    <div class="f_col f_col_2">
      <h3>Servicios</h3>
      <ul>
        <li><a href="<%= pages_rent_path(id: 4) %>"><span><i class="fa fa-bullseye"></i> Alquiler Vehículos</span></a></li>

    </ul>
</div>
<!--/ footer col 2 -->

<div class="f_col f_col_3">
    <h3>Blindaje</h3>
    <ul>
        <li><a href="<%= pages_shield_path(id: 3) %>"><span><i class="fa fa-bullseye"></i> Tipos de blindaje</span></a></li>

    </ul>
</div>
<!--/ footer col 3 -->

<div class="f_col f_col_4">
    <h3>Mantenimiento</h3>
    <div class="footer_address" style="width: 150px">
        <ul>
            <li><a href="<%= pages_maintenance_path(id: 5) %>"><span><i class="fa fa-bullseye"></i> Servicio Integral</span></a></li>
        </ul>

    </div>

    <div class="footer_map" style="background:url( <%= asset_path('footer_map.png') %> ); background-repeat: no-repeat; background-size: 270px; width: 270px;"><a href="http://poblautos.com/es/" target="_blank" class="amap"></a></div>
</div>
<!--/ footer col 4 -->

<div class="clear"></div>

<div class="footer_social">
  <div class="social_inner">

      <a href="https://www.facebook.com/pages/Blintech- Security/1379954745574685?fref=ts"  target="_blank"class="social-fb"><span>Facebook</span></a>
      <a href="https://twitter.com/BlintechS" target="_blank" class="social-twitter"><span>Twitter</span></a>
      <a href="https://instagram.com/blintechsecurity/" target="_blank" class="social-dribble"><span>Instagram</span></a>
  </div>
</div>

<div class="footer_contacts">

  <span class="phone">+57 (4) 444 50 00</span>
  <span class="email">comercial@blintech.com.co</span>
</div>



<div class="copyright">
    Desarrollo por <a href="http://walloom.com" target="_blank">Walloom</a>  &nbsp;|&nbsp;  <a href="http://walloom.com" target="_blank" class="link_white">Transmedia Content</a>
</div>

</div>
