<!DOCTYPE html>
<html>
<head>
  <title>Blindtech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="body_wrap homepage">

 <%= render 'layouts/menu' %>
 <%= yield %>
  <%= render 'layouts/footer' %>

</div>

</div>
</body>
</html>
